.btn-sucess {
    background-color: #84CC16;
    width: 120px;
    height: 45px;
    margin-top: 20px;
    font-size: 1.2rem;
}

.bnt-sucess:hover {
    background-color: #2F3C33;
}

.left-side{
    margin: 1.5em;
    width: 88%;
}

.right-side{
    width: 12%;
}

.btn-back {
    color: #84CC16;
    background-color: #2F3C33;
    border-color: #2F3C33;
    width: 120px;
    height: 45px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.txtCadastro {
    display: flex;
    color: #84CC16;
    font-size: 3rem;
    font-weight: bolder;
}

.w-33{
    width: 33.3%;
}

form{
    all: unset !important;
}

