body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.left-block{
    height: 80vh;
    padding: 50px;
}

h3{
    font-size: 40px;
    font-weight: bold;
}

span {
    font-size: 28px;
}

.arrow{
    font-size: 28px;
}

.right-block {
    height: 80vh;
    padding: 50px;
}

.username{
    font-size: 20px;
    font-weight: bolder;
}

.dropdown-item {
    background-color: #2F3C33;
    width: fit-content;
}

.dropdown {
    padding-right: 50px;
}

.dropdown-menu {
    background-color: #2F3C33;
}
