body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.left-block{
    height: 80vh;
    padding: 50px;
}

h3{
    font-size: 40px;
    font-weight: bold;
}

span{
    font-size: 28px;
}

a {
    color: #84CC16;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
    font-size: 26px;
    text-align: center;
}

.arrow{
    font-size: 28px;
}

.right-block {
    height: 80vh;
    padding: 50px;
}
