#table-map {
    float: right;
    width: 80%;
    float: left;
}

.informations {
    padding-right: 15%;
    padding-left:5%;
    height: 100vh;
    float: right;
}

.size-bar {
    background-color: red;
    width: 70px;
    height: 25px;
    float: right;
}

.page {
    float: left;
    height: 100vh;
    
}

td {
    border: double black 2px;
}

.circle {
    display: flex;
    margin-top: 3%;
    flex-direction: column;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: purple;    
}

.circles {
    display:flex;
    margin-top: 17%;
    margin-left: 2%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left:2%
}

.divisao{
    width:49%;
}

li{
    list-style:none;    
}

progress{
    display:block;
    -webkit-appearance:none;
    margin-top:4.5%;
}

    progress::-webkit-progress-value {
        background: #84CC16;
        border-radius: 10px
    }

    progress::-webkit-progress-bar {
        background: white;       
        border-radius: 20px
    }

    progress::-moz-progress-bar {
        background: black;
        border-radius: 20px
    }

thead {
    background-color: #2F3C33;
    border: double black 2px;
    color: white;
}
