html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    width: 60px;
    height: 60px;
}

.navbar-nav {
    text-align: left;
    justify-content: end;
}

.message {
    color: #2F3C33;
    font-size: 42px;
    font-weight: bolder;
}

.btn-success {
    background-color: #84CC16;
    border-color: #2F3C33;
    margin-left: 15px;
    margin-right: 15px;
}

.footer {
    background-color: #2F3C33;
}
