@using Microsoft.AspNetCore.Authentication
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BuzzOff</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BuzzOff.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/img/Logo_Mosquito.svg" alt="Logo Buzzoff" />
                </a>

                <span class="message">@ViewBag.Message</span>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end d-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Privacy">Denuncie</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="Campeonatos" asp-action="Index">Mapa de focos</a>
                        </li>
                        @if (!HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn btn-success" asp-area="" asp-controller="Login" asp-action="Index">Acesse sua conta</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a style="font-size: 1rem; color: #2F3C33;" class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i>
                                    @HttpContextAccessor.HttpContext.User.Identity.Name
                                </a>

                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li>
                                        <a style="font-size: 1rem; color: #84CC16;" class="dropdown-item" asp-controller="User" asp-action="Update"><i class="fa-solid fa-gear"></i> Opções</a>
                                    </li>
                                    <li>
                                        <a style="font-size: 1rem; color: #84CC16;" class="dropdown-item" asp-controller="User" asp-action="UpdatePassword"><i class="fa-solid fa-key"></i> Alterar senha</a>
                                    </li>
                                    <li style="font-size: 1rem;">
                                        <form asp-controller="Login" asp-action="Logout" method="post" id="logoutForm">
                                            <a style="font-size: 1rem;color: #84CC16; cursor: pointer;" class="dropdown-item" onclick="document.getElementById('logoutForm').submit();"><i class="fa-solid fa-door-open"></i> Logout</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


            @RenderBody()
        </div>

        </main>

    <footer class="border-top footer text-muted d-flex justify-content-lg-between">
        <div class="mx-5">
            &copy; 2023 - BuzzOff Ltda.
        </div>
        <div class="mx-5">
            <a class="footer-text" asp-area="" asp-controller="Contact" asp-action="Index">Entre em contato</a>
            <a class="footer-text" asp-area="" asp-controller="Home" asp-action="Privacy">Seja um agente</a>
            <a class="footer-text" asp-area="" asp-controller="Home" asp-action="Privacy">O projeto</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
