@model CountFocusesModel

@{
    ViewData["Title"] = "Mapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Focos no mapa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

    <div id="map" style="height: 80vh; width: 50%;"></div>

    <script>
        var bounds = L.latLngBounds([-26.72644, -49.06737], [-26.9741, -49.0760]);
        var map = L.map('map', {
            center: [-25.94937, -49.071685],
            zoom: 11.5,
            maxBounds: bounds,
            maxBoundsViscosity: 1
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        window.addEventListener('load', function () {
            console.log('Página carregada');
            cidadesJSON = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.MapData))';
            //console.log(cidadesJSON)
            cidades = JSON.parse(cidadesJSON);
            manipuladorDeMapa.Listar()
        });
    </script>

</body>
</html>
