@{
    ViewData["Title"] = "Mapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Focos no mapa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

    <div id="map" style="height: 50vh; width: 50%;"></div>

    <script>
        var map = L.map('map').setView([-26.8727, -49.1052], 11);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        L.marker([-26.8727, -49.1052]).addTo(map)
            .bindPopup('Marcador em -26.8727, -49.1052.')
            .openPopup();
    </script>

</body>
</html>
