 @model DenunciationModel
@{
    ViewData["Title"] = "Cadastro denuncias";
   
}
<style>
    .bnt-sucess:hover {
        background-color: #2F3C33;
    }

</style>


<h1 class="txtCadastro">Realize sua Denúncia</h1>

<button type="submit" class="btn btn-primary">Voltar</button>


<form class="container" method="POST" asp-controller="Denunciation" asp-action="Add">
    <button type="submit" class="btn btn-sucess">Enviar</button>
</form>


 