@model DenunciationModel
@{
    ViewData["Title"] = "Cadastro denuncias";

}

<style>

    .form-cadastro {
        margin-right: 15%
    }

    .container {
        margin: 0;
        padding: 0;
    }

    .txtCadastro {
        display: flex;
        color: #84CC16;
        font-size: 44px;
        margin-bottom: 120px;
        margin-top: 100px;
        font-style: italic;
        font-weight: 500;
    }

    fieldset {
        display: flex;
        width: 400px;
        height: 700px;
        padding: 25px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cadastro-form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-left:50%;        
    }

    .form-control {
        width: 550px;
        height: 60px;
        border-radius: 10px;
        border: solid lightgray;
        margin: 10px;
        padding: 20px;
    }

    ::placeholder {
        color: #84CC16;
        font-size: 1.2rem;
    }

    .btn-success {
        background-color: #84CC16;
        width: 120px;
        height: 45px;
        margin-top: 20px;
        font-size: 1.2rem;
    }

    form-control:focus {
        outline: none;
    }

    .bg-cadastro {
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
    }

    .geral {
        display: flex;
        width: 100%;
    }

    .bloco-cadastro{
        background-color: #2F3C33;
        height:1024px;
        width:250px;
        margin-right: 0;
    }
</style>


<div class="container">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>
<!--

<div class="geral">
    <div class="bloco-cadastro"></div>
    <img class="bg-cadastro" src="/img/cadastro.svg">
    <form class="form-cadastro" asp-controller="User" asp-action="Add" method="post">
        <div class="cadastro-form">
            <fieldset>
                <h3 class="txtCadastro">CRIE SUA CONTA</h3>
                <input type="text" id="nome" class="form-control" asp-for="Name" placeholder="Nome" required />
                <input type="password" id="password" class="form-control" asp-for="Password" placeholder="Senha" required />
                <input type="email" id="email" class="form-control" asp-for="Email" placeholder="Email" required />
                <input type="text" id="CPF" class="form-control" asp-for="CPF" placeholder="CPF" required />
                <br>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </fieldset>
        </div>

    </form>
</div>

-->