@{
    ViewData["Title"] = "Nos contate!";
}
<link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />

<div class="d-flex flex-row justify-content-evenly">
    <div class="contact d-flex flex-column justify-content-center">
        <img class="equipe" src="~/img/Jhuly.svg" alt="Jhuly" />
        <span class="nome">Jhuly Gonçalves</span>
        <span class="fone">(48) 9 9806-5300</span>
        <img class="qr-code" src="~/img/Qr-code.svg" alt="Qr Code" />
    </div>

    <div class="contact d-flex flex-column justify-content-center">
        <img class="equipe" src="~/img/Macaneiro.svg" alt="Macaneiro" />
        <span class="nome">Vinícius Maçaneiro</span>
        <span class="fone">(47) 9 9777-0879</span>
        <img class="qr-code" src="~/img/Qr-code.svg" alt="Qr Code" />
    </div>

    <div class="contact d-flex flex-column justify-content-center">
        <img class="equipe" src="~/img/Gabriel.svg" alt="Gabriel" />
        <span class="nome">Gabriel Montibeler</span>
        <span class="fone">(47) 9 9118-6648</span>
        <img class="qr-code" src="~/img/Qr-code.svg" alt="Qr Code" />
    </div>

    <div class="contact d-flex flex-column justify-content-center">
        <img class="equipe" src="~/img/Lanser.svg" alt="Lanser" />
        <span class="nome">Vinícius Lanser</span>
        <span class="fone">(47) 9 9271-2133</span>
        <img class="qr-code" src="~/img/Qr-code.svg" alt="Qr Code" />
    </div>

    <div class="contact d-flex flex-column justify-content-center">
        <img class="equipe" src="~/img/Nicolas.svg" alt="Nicolas" />
        <span class="nome">Nicolas de Moraes</span>
        <span class="fone">(47) 9 9940-7846</span>
        <img class="qr-code" src="~/img/Qr-code.svg" alt="Qr Code" />
    </div>
</div>
