<div>
    <h3>User</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
<<<<<<< HEAD
                <th>CPF</th>
                <th>Email</th>
                <th>Password</th>
                <th>accessLevel</th>
=======
>>>>>>> 8dd7fa1dd8064bffdd44b7cb1fb4a19f996cd511
            </tr>
        </thead>
        <tbody>
            <tr>
<<<<<<< HEAD
                @foreach()
                {
                <td>1</td>
                    
                }
=======
                <td>1</td>
                <td>Marco Antonio Angelo</td>
>>>>>>> 8dd7fa1dd8064bffdd44b7cb1fb4a19f996cd511
            </tr>
        </tbody>
    </table>
</div>