@model UserModel
<h3>Atualizar user</h3>
<form asp-controller="Pessoas" asp-action="Update" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" class="form-control" asp-for="" />
    <br />
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Pessoas" asp-action="Index">Voltar</a>
</form>