@model VisitsModel

@{
    ViewData["Title"] = "Dados da visita";
}

<div>
    @*<form asp-action="" asp-controller="" method="post" class="form-visit w-50 d-flex">
        <label for="txtAssessment">Informe o relatório sobre a visita</label>
        <textarea class=form-control"/>
    </form>*@
</div>