@using Common.Interfaces;
@using Common.Others;
<link rel="stylesheet" href="~/css/ListDenunciation.css" asp-append-version="true" />
@model VisitsModel

@functions {
    public string GetFocusIcon(MyEnuns.FocusType type)
    {
        switch (type)
        {
            case MyEnuns.FocusType.Ovos:
                return "fa-egg";
                break;
            case MyEnuns.FocusType.Larvas:
                return "fa-worm";
                break;
            case MyEnuns.FocusType.Adultos:
                return "fa-mosquito";
                break;
            default:
                return "fa-question";
                break;
        }
    }
}

@{
    ViewData["Title"] = "Minhas Visitas";

}

<div class="denunciations">
    <div class="container">
        <div class="row">
            <div class="col denun-col denun-stage">
                <span class="stage pendente">Em andamento</span>
            </div>
            </div>
        </div>
        <hr style="color: #2F3C33" />
        <div class="row">
            <div class="col denun-col">

                @foreach (var visit in Model.Visits)
                {
                    <div class="denunciation">
                        <div class="d-flex flex-column align-items-start h-100 w-100">
                            <div class="mb-auto w-100">

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
