@{
    ViewData["Title"] = "Seja um agente";
}
<div>
    <h3>Quer se cadastrar como um agente do BuzzOff?</h3>
    <p>Se você deseja se cadastrar como um agente, tenha em mãos sua matrícula SIAPE, seu CPF e um email para cadastro.<br>
    Nos contate através do email contato@buzzoff.com.br com essas informações, para que seus dados sejam analisados e seu cadastro seja aprovado.<br>
    Quaisquer dúvidas entre em contato conosco.</p>   
</div>