@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="d-flex flex-row">
    <div class="left-block d-flex flex-column w-50">
        <h3>Proteja-se contra a dengue com as nossas dicas</h3>
        <span>A dengue é uma ameaça global e  não é de hoje. Essa doença atinge ao ano milhares de pessoas. Levando em consideração a situação atual, elaboramos algumas dicas de prevenção para se proteger desse terrível mal. </span>
        <a href="https://www.minhavida.com.br/saude/temas/dengue">Conheça a página <span class="arrow">&#8594</span></a>
    </div>

    <div class="right-block d-flex flex-column w-50 text-center">
        <h3>Navegue pelo conteúdo</h3>
        <img class="p-3" src="~/img/Campanha.svg" alt="campanha" />
    </div>
</div>
