@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="parent h-100 w-100 d-flex flex-row position-absolute">
    <div class="left w-50">
        <div class="content align-content-center justify-content-center">
            <h3 class="green-h3">
                Proteja-se da dengue.
                <br />
                Tenha acesso à informação.
            </h3>

            <br />

            <p class="text-xxl-start text-white w-50">
                A dengue é uma ameaça global e  não é de hoje. Essa doença atinge ao ano milhares de pessoas. Levando em consideração a situação atual, elaboramos algumas dicas de prevenção para se proteger desse terrível mal.
            </p>
        </div>
    </div>
    <div class="right w-50"></div>
</div>
