@model UserModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .form-login {
        margin-right: 18%
    }

    .container {
        margin: 0;
        padding: 0;
    }

    .txtLogin {
        display: flex;
        color: #84CC16;
        font-size: 64px;
        margin-bottom: 150px;
        font-style: italic;
        font-weight: 500;
    }

    fieldset {
        display: flex;
        width: 400px;
        height: 700px;
        padding: 25px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login-form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    input {
        width: 450px;
        height: 60px;
        border-radius: 10px;
        border: solid lightgray;
        margin: 10px;
        padding: 20px;
    }

    ::placeholder {
        color: #84CC16;
        font-size: 1.2rem;
    }

    .btn-success {
        background-color: #84CC16;
        width: 120px;
        height: 45px;
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .esqueceu {
        display: block;
        width: 120%;
    }

    #p-senha {
        float: right;
        text-decoration: none;
    }

    input:focus {
        outline: none;
    }

    .bg-login {
        display: flex;
        justify-content: flex-start;
    }

    .geral {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
</style>

<div class="geral">
    <img class="bg-login" src="/img/amico.svg">
    <form class="form-login" action="http://localhost:5059/User/Login" method="post">
        <div class="login-form">
            <fieldset>
                <h3 class="txtLogin">LOGIN</h3>
                <input id="txtNome" placeholder="Usuário" type="text">
                <input id="txtPassword" placeholder="Senha" type="text">
                <div class="esqueceu">
                    <a id="p-senha" href="pagina de esqueceu a senha">Esqueceu a senha?</a>
                </div>
                <br>
                <a class="btn btn-success" asp-controller="User" asp-action="Index">Entrar</a>
            </fieldset>
        </div>

    </form>
</div>
